VITE_FIREBASE_API_KEY="AIzaSyDHjWFLWVNwyC20u0qEO_r2gtnEbmZyQSw"
VITE_FIREBASE_AUTH_DOMAIN=quanlylophoc-5b945.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=quanlylophoc-5b945
VITE_FIREBASE_STORAGE_BUCKET="quanlylophoc-5b945.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID=G"38123679904"
VITE_FIREBASE_APP_ID="1:38123679904:web:50b408fe8733bd9643d9c5"
